.card-img-top {
  height: 300px;
}

.pro-img {
  margin-top: -80px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.m-t-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center !important;
}
