.custom-picture-upload .field {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.custom-picture-upload input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  margin-bottom: 25px;
}

.custom-picture-upload .img-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.custom-picture-upload .img-upload:before {
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #63d3a6;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff;
}
.custom-picture-upload .img-upload:hover:before {
  opacity: 1;
}
.custom-picture-upload img {
  width: auto;
  height: 100%;
}

.custom-picture-upload label {
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
}

.custom-picture-upload input {
  border-radius: 15px;
  border: 1px solid #b7b7b7;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  transition: 0.2s;
}
.custom-picture-upload input:focus {
  outline: none;
  border: 1px solid #64d488;
}
.custom-picture-upload input::placeholder {
  color: #bebebe;
}

.custom-picture-upload .edit {
  color: #fff;
  width: 180px;
}

.custom-picture-upload .lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.custom-picture-upload .lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.custom-picture-upload .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.custom-picture-upload .fa-instagram {
  position: absolute;
  color: #79f1a4;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.custom-picture-upload .fa-instagram:hover {
  font-size: 42px;
  color: #caff81;
  transition: all 0.1s linear;
  cursor: pointer;
}
