.places-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e6ebf1;
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.vertical-middle {
  vertical-align: middle;
}

/* slick css */

.slick-next {
  right: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50%;
  z-index: 1;
  transition: all ease 0.4s;
}
.slick-prev {
  left: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50%;
  z-index: 1;
  transition: all ease 0.4s;
}
.slick-prev:before {
  color: #02335d;
}
.slick-next:before {
  color: #02335d;
}
.slick-next:hover,
.slick-next:focus,
.slick-next:active,
.slick-prev:hover,
.slick-next:focus,
.slick-next:active {
  background: #017efa;
}
.slick-next:hover:before,
.slick-next:focus:before,
.slick-next:active:before,
.slick-prev:hover:before,
.slick-next:focus:before,
.slick-next:active:before {
  color: #ffffff;
}

.veshm-list-img-slide .slick-prev {
  left: 0;
  z-index: 1;
  width: 30px;
  height: 60px;
  border-radius: 0px 100px 100px 0px;
  color: #ffffff !important;
  opacity: 1 !important;
}
.veshm-list-img-slide .slick-next {
  right: 0;
  z-index: 1;
  width: 30px;
  height: 60px;
  border-radius: 100px 0px 0px 100px;
  color: #ffffff !important;
  opacity: 1 !important;
}
.slick-prev:before,
.slick-next:before {
  opacity: 1;
}
.veshm-list-click .slick-next,
.veshm-list-click .slick-prev {
  display: none !important;
}
.veshm-list-click:hover .slick-next,
.veshm-list-click:focus .slick-next,
.veshm-list-click:hover .slick-prev,
.veshm-list-click:focus .slick-prev {
  display: block !important;
}

.veshm-list-prty-figure .slick-slide img {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
}

.veshm-list-prty-figure .slick-list.draggable,
.veshm-list-prty-figure .slick-track {
  height: 100%;
}

.custom-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.custom-box .relative {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.btn-rounded {
  border-radius: 100%;
}
